#main {
    height: 340px;
}

#backgroundImage {
    background: url('../../assets/img/books-2007660_1920.jpg');
    background-color: #cccccc;
    background-repeat: repeat;
    opacity: 0.1;
    position: absolute;
    height:340px;
    width:100%
}


