#main {
    height: 350px;
}

#backgroundImage {
    background: url('../../assets/img/books-2007660_1920.jpg');
    background-color: #cccccc;
    background-repeat: repeat;
    opacity: 0.2;
    position: absolute;
    height:330px;
    width:100%
}


